<section>
  <%= form_for @post do |f| %>

    <div>
      <%= f.file_field :photo %>
    </div>
    <div>
      <%= f.label :message  %>
      <%= f.text_area :message %>
    </div>
  
    <div>
      <%= f.submit "Create" %>
    </div>
  
  <% end %>
</section>