<h1>Upload your best view</h1>

<%= form_for @photo,  :html => { :multipart => true } do |f| %>
  <%= f.file_field :photo %>
  
  <%= f.label :photo_message %>
  <%= f.text_field :photo_message %>
  
  <%= f.submit "upload" %>
<% end %>
