<section>
  <%= form_for @post, :remote => true, :html => { :multipart => true } do |f| %>
      <h4>upload your best view</h4>
      
      <%= f.fields_for :photos do |photo_f| %>

        
          <%= photo_f.file_field :photo %>
          <%= photo_f.text_field :message %>
        
      <% end %>
      
    <div>
      <%= f.label :message  %>
      <%= f.text_area :message %>
    </div>
  
    <div>
      <%= f.submit "Create" %>
    </div>
  
  <% end %>
</section>